/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f5f5f5; */
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display:flex;
    justify-content: flex-start;
    gap: 200px;
    background-color:rgb(246, 243, 243);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.logo {
    float: left;
    margin-left: 25px;
    line-height: 50px;
    font-size: 20px;
}
.logo img{
    height: 50px;
    
}
.logo li{
    list-style-type: none;
    
}

.logo li a{
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    color: black;
}
.logo li a:hover{
    text-decoration: underline;
    color: blue;
}
.d1{
    
    font-size: 20px;
}
.d1 h1{
    padding-left: 40px;
    font-size: large;
}
.d1 li{
    list-style-type: none;
    line-height: 50px;
}

.d1 a{
    /* text-align: center */
    text-decoration: none;
    color: black;
}

.d1 li a:hover{
    color:rgb(0, 0, 235);
    text-decoration: underline;
}

/* Footer Styles */
footer .container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color:white;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-link{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;

}
.footer-link ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: #333;
}
.footer-link select{
    border: none;
}
.lang{
    padding: 20px;
}

@media (max-width: 480px) {
    .footer-link ul{
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    footer .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-link {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* hover  click */